
/* baseline CSS from: https://meyerweb.com/eric/thoughts/2007/04/14/reworked-reset/ */

/* Don't forget to set a foreground and background color 
   on the 'html' or 'body' element! */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd,
dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 105%;
	line-height: 1.42857143
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}
a img, :link img, :visited img {
	border: 0;
}
/*
ol, ul {
	list-style: none;
}
*/
q:before, q:after,
blockquote:before, blockquote:after {
	content: "";
}

/* Sailfish: make everything bigger: */

/* body,td,th { font-family: sans-serif, arial, helvetica, helv; } */
/* body { background-color: #ffffff; color: #000000; } */
/* stolen from https://sailfishos.org/wiki/ */
/* body{font-family:"sail sans pro","DejaVu Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;font-size:32px;line-height:1.42857143;color:#333;background-color:#fff} */
body{
	font-family: system-ui, ui-sans-serif, ui-rounded, "Sail Sans Pro", "DejaVu Sans Condensed","sail sans pro light","DejaVu Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
	/* line-height:1.42857143; */
	font-size: 42px;
	font-weight: 700;
	color:#111;
	background-color:#eed;
	letter-spacing: 2px;
	word-spacing: 0.12em;
	line-height: 160%;
  }

html {
  margin: 0 6px;
}

h1 { font-size: 140%; font-variant: small-caps; color: #007070; margin: 1.6em 0.6em; font-weight: bold;}
h2 { font-size: 120%; font-variant: small-caps; margin: 1.0em 0.6em; font-weight: bold;}
h3 { font-size: 110%; margin: 0.5em ; }

p  { margin: 1em auto; text-align: justify; text-align-last: left; }
pre  { margin: 0.5em auto; }

li { margin: 0.6em 1.5em ; text-align: left;  }
dl { margin: 0 1.5em ; }
ul,ol { margin: 0.5em 0.5em ; }

a:link    { color: #007070; text-decoration: none; font-weight: bold;}
a:visited { color: #7ebec5; text-decoration: none; font-weight: bold;}
a:active  { color: #3333ff; text-decoration: none; font-weight: bold;}
a:hover   { color: #23527c; text-decoration: underline;  font-weight: bold;}

img {
  display: block;
  margin: 5% 1%;
  max-width: 75%;
}
